@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400&display=swap');

.credentials--container {
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  background-color: rgb(216, 216, 216);
  /*todo min-width*/
  width: 440px;
  min-height: 220px;
  box-shadow: 1px 1px 5px 0px black;

  &__item {
    &:not(:last-child) {
      width: 100%;
      height: fit-content;
      margin-bottom: 1.1rem;
    }
    &__text {
      text-decoration: none;
      font-size: 0.9rem;
      font-family: 'Roboto Slab', serif;
      font-weight: 300;
      color: #1976d2;
    }
    &__button {
      float: right;
    }
  }
}
